<div class="html index zhibo" ng-controller="zhuijuCtrl">
	<div class="indextopline" indextopline active="zhuiju"></div>
	<div ng-show="net">
		<div class="swipe {{net?'bgcfff':''}}" id="J_banner">
			<div class="spbox">
				<p class="spimg" ng-repeat="v in result.poster" on-finish-render-filters data-render="rbanner"><a class="dsb" ng-href="#/dianbo/detial?kankeId={{v.kankeId}}&columnType={{v.videoType}}&isMatch={{v.isMatched}}&vodId={{v.vodId}}"><img ng-src="{{v.bimage}}"></a></p>
			</div>
			<p class="poter"></p>
		</div>
		<div class="">
			<div class="title">
				<p class="tilbox">热门追剧<a href="#/dianbo/list?coltype=tv&classId=1012" class="more"></a></p>
			</div>
			<div class="pitems">
				<a href="#/dianbo/detial?test=动画&kankeId={{v.kankeId}}&columnType={{v.videoType}}&isMatch={{v.isMatched}}&vodId={{v.vodId}}" class="pitem" ng-repeat="v in result.rmzj">
					<p class="pi_ico" showtvtype="v.isMatched"></p>
					<p class="pi_img"><img ng-src="{{v.crossmap}}"></p>
					<p class="pi_til">{{v.title}}</p>
				</a>
			</div>
		</div>
		<div class="" ng-if="result.nd.length">
			<div class="title">
				<p class="tilbox">内地<a href="#/dianbo/list?coltype=tv&classId=35" class="more"></a></p>
			</div>
			<div class="pitems">
				<a href="#/dianbo/detial?kankeId={{v.kankeId}}&columnType={{v.videoType}}&isMatch={{v.isMatched}}&vodId={{v.vodId}}" class="pitem" ng-repeat="v in result.nd">
					<p class="pi_ico" showtvtype="v.isMatched"></p>
					<p class="pi_img"><img ng-src="{{v.crossmap}}"></p>
					<p class="pi_til">{{v.title}}</p>
				</a>
			</div>
		</div>
		<div class="" ng-if="result.gt.length">
			<div class="title">
				<p class="tilbox">港台<a href="#/dianbo/list?coltype=tv&classId=36" class="more"></a></p>
			</div>
			<div class="pitems">
				<a href="#/dianbo/detial?kankeId={{v.kankeId}}&columnType={{v.videoType}}&isMatch={{v.isMatched}}&vodId={{v.vodId}}" class="pitem" ng-repeat="v in result.gt">
					<p class="pi_ico" showtvtype="v.isMatched"></p>
					<p class="pi_img"><img ng-src="{{v.crossmap}}"></p>
					<p class="pi_til">{{v.title}}</p>
				</a>
			</div>
		</div>
		<div class="" ng-if="result.om.length">
			<div class="title">
				<p class="tilbox">欧美<a href="#/dianbo/list?coltype=tv&classId=37" class="more"></a></p>
			</div>
			<div class="pitems">
				<a href="#/dianbo/detial?kankeId={{v.kankeId}}&columnType={{v.videoType}}&isMatch={{v.isMatched}}&vodId={{v.vodId}}" class="pitem" ng-repeat="v in result.om">
					<p class="pi_ico" showtvtype="v.isMatched"></p>
					<p class="pi_img"><img ng-src="{{v.crossmap}}"></p>
					<p class="pi_til">{{v.title}}</p>
				</a>
			</div>
		</div>
		<div class="" ng-if="result.rh.length">
			<div class="title">
				<p class="tilbox">日韩<a href="#/dianbo/list?coltype=tv&classId=38" class="more"></a></p>
			</div>
			<div class="pitems">
				<a href="#/dianbo/detial?kankeId={{v.kankeId}}&columnType={{v.videoType}}&isMatch={{v.isMatched}}&vodId={{v.vodId}}" class="pitem" ng-repeat="v in result.rh">
					<p class="pi_ico" showtvtype="v.isMatched"></p>
					<p class="pi_img"><img ng-src="{{v.crossmap}}"></p>
					<p class="pi_til">{{v.title}}</p>
				</a>
			</div>
		</div>
	</div>
	<div class="html_loading" ng-show="!net" ><img src="images/loading.png" alt=""></div>
</div>
<div class="botline" botnav active="index"></div>